body {
  background-image: url('../Images/Background\ -\ Login\ Page.png');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  color: #3b4cb8;
}

.card-login {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 30px;
  padding: 60px;
}

.sorta-logo {
    padding-top: 10px;
    font-size: 2.75rem;
}

.text-login {
  font-weight: 600;
  color: #3b4cb8;
}

.form-text-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #3b4cb8; /* Bootstrap's default text color */
  font-size: 1rem;
}

.login-btn {
  background-color: #3B4CB8;
}

.login-btn:hover {
  background-color: #2f3aa1;
}

.login-btn:active {
  background-color: #242a7c !important;
}

@media (max-width: 576px) {
  .card-login {
    width: 70%;
    max-width: 450px;
    height: auto;

    padding: 20px;
    border-radius: 20px;
  }

  .sorta-logo {
    font-size: 1.75rem;
  }

  .text-login {
    font-size: 1.1rem;
    color: #3B4CB8;
  }
}